doctype html
html(lang="en")
  head
    link(rel="stylesheet",type="text/css",href="forms-min.css")
    link(rel="stylesheet",type="text/css",href="style.css")
    meta(name="viewport",content="initial-scale=1.0, width=device-width")
    script(src="application.js")
    script(src="//use.typekit.net/wkz3yii.js")
    script
      | try{Typekit.load();}catch(e){}
    title| Upload
    != LRScript
  body
    .page-wrap
      .content
        h1 Upload File
        div.error(style="display: none;")
        div.success(style="display: none;")
        div.warning(style="display: none;")
        form.pure-form#upload
          input(type="file",id="file",name="file")
          br
          input(type="text",id="name",name="name",placeholder="Name")
          br
          input(id="submit",type="submit",value="Submit")
