body {
  background: #35495D;
  margin: 0;
}

.page-wrap {
  padding: 20px;
}

.content {
  font-family: "aktiv-grotesk-std",sans-serif;
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 500px;
  max-height: 500px;
  background: #3A99D8;
  padding: 25px;
  padding-top: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: "aktiv-grotesk-std",sans-serif;
  font-weight: 300;
  font-size: 28pt;
}

input {
  font-family: "aktiv-grotesk-std",sans-serif;
  margin-top: 10px;
  min-width: 220px;
}

input[type=text] {
  display: inline !important;
}

input[type=submit] {
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 5px;
  border: 0;
  height: 35px;
  color: #3A99D8;
  font-weight: bold;
  font-size: 12pt;
  background: white;
  cursor: pointer;
}

input[type=submit]:not(:disabled):hover {
  background-color: #F5F5F5;
}

input[type=submit]:disabled {
  color: white;
  background: gray;
}

label {
  padding-right: 10px;
}

.pure-control-group {
  margin-left: -52px;
}

.error {
  background-color: #D85D56;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #B74E48;
}

.success {
  background-color: #01B876;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #029D64;
}

.warning {
  background-color: #F3D246;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #029D64;
  color: black;
}
